input{
    margin-left: 10px;
    margin-bottom: 5px;
    border: green 2px solid;
    color: blue;
    width: 220px;
}
.beau{
    margin-top: 30px;
    color: blue;
    background-color: burlywood;
    border: red solid 1px;
    width: 120px;
    height: 50px;
}
form{
    background-color: darkgrey;
    padding: 20px;
    width: 500px;
}