input{
    margin-left: 10px;
    margin-bottom: 5px;
    border: darkgreen 2px solid;
    color: blue;
    width: 220px;
}
.beau{
    margin-top: 30px;
    color: brown;
    background-color: burlywood;
    border: black solid 1px;
    width: 120px;
    height: 50px;
}
form{
    background-color: darkgrey;
    padding: 20px;
    width: 500px;
    display: block;
}
.sexe{
    width: 20px;
    margin-left: 0;
}
label{
    padding-right: 20px;
}